<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="startup" name="Synchronize_startup" schema="schema/edu.berkeley.eduride.startup.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.berkeley.eduride.base_plugin.prefs.EduRidePreferencePage"
            id="edu.berkeley.eduride.base_plugin.prefs.EduRidePreferencePage"
            name="EduRide">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.berkeley.eduride.base_plugin.prefs.PreferenceInitializer">
      </initializer>
      <scope
            class="org.eclipse.core.runtime.preferences.InstanceScope"
            name="edurideBase.instanceScope">
      </scope>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.berkeley.eduride.base_plugin.EarlyStartup"></startup>
   </extension>
   <extension
         id="ISAFormatProblem"
         name="ISA Format problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="edu.berkeley.eduride.base_plugin.util.Console"
            icon="icons/car-red.gif"
            label="EduRide Console">
      </consoleFactory>
   </extension>

</plugin>
