<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.berkeley.eduride.base_plugin.prefs.EduRidePreferencePage"
            id="edu.berkeley.eduride.base_plugin.prefs.EduRidePreferencePage"
            name="EduRide">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.berkeley.eduride.base_plugin.prefs.PreferenceInitializer">
      </initializer>
      <scope
            class="org.eclipse.core.runtime.preferences.InstanceScope"
            name="edurideBase.instanceScope">
      </scope>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.berkeley.eduride.base_plugin.EduRideBase"></startup>
   </extension>

</plugin>
